<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<section class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments/menu :: menu}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Hilfe zur Anwendung</h2>
            <h3>Login</h3>
            <p>Der Login erfolgt durch Ergänzung des Nutzernamens mit einem anwendungsspezifischen Kürzel, wie zum
                Beispiel 'administrator@lokal'. Welches Kürzel für welche Anwendung zu verwenden ist, wird vom
                Administrator mitgeteilt.</p>

            <h3>Quellen</h3>
            <p>Quellen sind Datenbanken, aus denen Informationen bezogen werden. Durch Klicken auf 'Anzeigen' können
                Details zu den Quelleneinträgen eingesehen werden. Zugriff auf die Einträge besteht nur, wenn das
                Nutzerkonto einer mit der Quelle verknüpften Anwendung zugeordnet ist. 'Aktualisieren' bewirkt das
                Einlesen neuer Daten aus der Quelle in die Datenbank.</p>

            <h3>Ziele</h3>
            <p>Ziele beziehen sich auf MyCoRe Anwendungen, in die Daten geschrieben werden. 'Anzeigen' ermöglicht das
                Betrachten von Daten, die bereits in die Ziele importiert wurden. Die Datenaktualisierung erfolgt durch
                Klicken auf 'Aktualisieren', was das Einlesen der Daten aus dem Ziel in die Datenbank zur Folge hat.
                Sichtbarkeit und Aktualisierung von Einträgen setzt voraus, dass das Nutzerkonto zur entsprechenden
                Zielanwendung gehört.</p>

            <h3>Vorgänge</h3>
            <p>Vorgänge sind Verknüpfungen zwischen Quellen und Zielen. 'Anzeigen' ermöglicht das Betrachten von
                Einträgen, die noch nicht in das Ziel importiert wurden. Diese Einträge sind sichtbar, wenn das
                Nutzerkonto zur Zielanwendung gehört. 'Zuordnung Prüfen' erlaubt die Überprüfung der Importierbarkeit
                von Daten und zeigt erforderliche Zuweisungen an. 'Import starten' initiiert den Import der Daten, wobei
                auch einzelne Einträge importiert werden können.</p>

            <h3>Zuordnung</h3>
            <p>Zuordnungen sind Verbindungen zwischen Klassifikationen aus Quellen und Zielen, wie beispielsweise
                'Zenodo Typ: Interview' und 'MyCoRe Genre: interview'. Diese
                werden in Gruppen nach Quell- und Zielklassifikationen organisiert. Bearbeitungen von Zuordnungsgruppen
                sind ausschließlich durch den
                Administrator möglich.</p>
            <p>
                Um vorhandene und fehlende Zuordnungen zu identifizieren, klicken Sie neben der entsprechenden Gruppe
                auf 'Anzeigen'.
                Die Zuordnungen werden in einer Tabelle dargestellt, wobei fehlende Zuordnungen durch einen fehlenden
                Wert in der Spalte 'Zu' gekennzeichnet sind.
            </p>
            <p>
                Eine Zuordnung kann durch Klicken auf 'Bearbeiten' geändert werden. Die Zuordnung wird in einem Formular
                dargestellt, in dem die Werte der Quell- und Zielklassifikationen geändert werden können.
                Einzelne Zuordnungen können durch alle Nutzer bearbeitet werden, sofern die Zielklassifikation aus der
                gleichen Anwendung stammt wie das Nutzerkonto.
            </p>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</section>
</body>
