<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<section class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments/menu :: menu}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Bereits importierte Dokumente</h2>
        </div>
    </div>
    <div class="row" th:if="${ success != null}">
        <div class="col-12">
            <div th:if="${success == 'true' }" class="alert alert-success" role="alert">
                <p>Import erfolgreich</p>
            </div>
            <div th:if="${success == 'false' }" class="alert alert-danger" role="alert">
                <p>Import fehlgeschlagen</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <a class="btn btn-secondary" th:href="@{/jobs/}">Zurück</a>
            <a class="btn btn-primary" th:href="@{'/jobs/'+${jobID} +'/update/update'}">Alle Updaten</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>MyCoRe-ID</th>
                    <th>Metadaten</th>
                    <th>Datum</th>
                    <th>Gelöscht</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record: ${records.getContent()}">
                    <td th:text="${record.first().getForeignId()}"></td>
                    <td th:text="${record.second().getMycoreId()}"></td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                th:data-bs-target="'#metadata_' + ${record.first().getId()}"
                                aria-expanded="false">
                            Metadaten
                        </button>

                        <div class="modal" tabindex="-1" th:id="'metadata_' + ${record.first().getId()}">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <pre th:text="${record.first().getMetadata()}"></pre>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                    <td th:text="${record.first().getDatestamp()}">
                    </td>

                    <td th:text="${record.first().getDeleted()}">

                    </td>

                    <td>
                        <a th:href="@{'/jobs/'+ ${jobID} + '/test/' + ${record.first().getForeignId()}}">Test</a>
                        <a th:href="@{'/jobs/'+ ${jobID} + '/update/' + ${record.first().getForeignId()}}">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination flex-wrap">
                    <li class="page-item" th:if="${records.hasPrevious()}"><a class="page-link"
                                                                              th:href="@{'/jobs/' + ${jobID} + '/update/?page=' +${records.getNumber()-1}}">Vorherige</a>
                    </li>
                    <li class="page-item" th:each="page: ${pages}"><a
                            th:class="'page-link' + (${page} == ${records.getNumber()+1} ? ' active' : '')"
                            th:href="@{'/jobs/' + ${jobID} + '/update/?page=' + ${page -1}}"
                            th:text="${page}">1</a></li>
                    <li class="page-item" th:if="${records.hasNext()}"><a class="page-link"
                                                                          th:href="@{'/jobs/' + ${jobID} + '/?page=' +${records.getNumber()+1}}">Nächste</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</section>

</body>
</html>