<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<section class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments/menu :: menu}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Zu importierende Dokumente</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <a class="btn btn-secondary" th:href="@{/jobs/}">Zurück</a>
            <a class="btn btn-primary" th:href="@{/jobs/{jid}/testMapping(jid=${jobID}, update=false)}">Zuordnungen Prüfen</a>
            <a class="btn btn-primary" th:href="@{/jobs/{jid}/import(jid=${jobID})}">Import Starten</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Metadaten</th>
                    <th>Datum</th>
                    <th>Gelöscht</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record: ${records.getContent()}">
                    <td th:text="${record.getKey().getForeignId()}"></td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                th:data-bs-target="'#metadata_' + ${record.getKey().getId()}"
                                aria-expanded="false">
                            Metadaten
                        </button>

                        <div class="modal" tabindex="-1" th:id="'metadata_' + ${record.getKey().getId()}">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <pre th:text="${record.getKey().getMetadata()}"></pre>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button th:if="${record.getValue().size() > 0}" class="btn btn-primary" type="button" data-bs-toggle="modal"
                                th:data-bs-target="'#files' + ${record.getKey().getId()}"
                                aria-expanded="false">
                            Dateien
                        </button>
                        <button th:unless="${record.getValue().size() > 0}" class="btn btn-warning" type="button">
                            Keine Dateien Gefunden
                        </button>

                        <div class="modal" tabindex="-1" th:id="'files_' + ${record.getKey().getId()}">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li th:each="file: ${record.getValue()}">
                                                <span th:text="${file}" />
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td th:text="${record.getKey().getDatestamp()}">
                    </td>

                    <td th:text="${record.getKey().getDeleted()}">

                    </td>

                    <td>
                        <a th:href="@{'/jobs/'+ ${jobID} + '/test/' + ${record.getKey().getForeignId()}}">Test</a>
                        <a th:href="@{'/jobs/'+ ${jobID} + '/import/' + ${record.getKey().getForeignId()}}">Import</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination flex-wrap">
                    <li class="page-item" th:if="${records.hasPrevious()}"><a class="page-link"
                                                                             th:href="@{'/jobs/' + ${jobID} + '/fileCheck?page=' +${records.getNumber()-1}}">Vorherige</a>
                    </li>
                    <li class="page-item" th:each="page: ${pages}"><a th:class="'page-link' + (${page} == ${records.getNumber()+1} ? ' active' : '')"
                                                                      th:href="@{'/jobs/' + ${jobID} + '/fileCheck?page=' + ${page -1}}"
                                                                      th:text="${page}">1</a></li>
                    <li class="page-item" th:if="${records.hasNext()}"><a class="page-link"
                                                                         th:href="@{'/jobs/' + ${jobID} + '/fileCheck?page=' +${records.getNumber()+1}}">Nächste</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</section>

</body>
</html>