<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<section class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments/menu :: menu}"></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <h1>Bitte Loggen Sie sich ein!</h1>
            <div class="mb-3 text-danger" th:if="${param.error}">
                Ungültige Anmeldedaten.
            </div>
            <div class="mb-3 text-success" th:if="${param.logout}">
                Sie wurden ausgeloggt.</div>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <input class="form-control" type="text" name="username" placeholder="Nutzername"/>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder="Password"/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit" >Login</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</section>
</body>